.profile_container {
  width: 400px;
  border: 3px solid #212121;
  border-radius: 10px;
  background-color: #fafafa;
  color: #000000;
  /* padding-top: 20px; */
  margin-bottom: 20px;
}

.user_data {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.img {
  margin-top: 15px;
  display: inline;
  width: 100px;
  border: 1px solid #2a2a2a;
  border-radius: 100%;
  background-color: #2a2a2a;
}

.profile_container p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #808080;
}

.profile_container :nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.profile_container .profile_list {
  padding: 0;
  margin: 0; 
} 

.profile_container ul {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profile_container ul li {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #000000;
  border-bottom: none;
  border-left: none;
}

.profile_container ul li:first-child {
  border-bottom-left-radius: 8px;
}

.profile_container ul li:last-child {
  border-right: none;
  border-bottom-right-radius: 8px;
}

.profile_container ul li span {
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.profile_container ul li span:last-child {
  color: #000000;
  font-weight: bold;
}