.thTable {
  margin: auto;
  width: 600px;
  border-collapse: collapse;
  border: 2px solid #2a2a2a;
}

.thTableHeader {
  background-color: #2a2a2a;
  color: #ffffff;
  height: 40px;
}

.thTable tr {
  height: 40px;
}

.thTable th,
.thTable td {
  width: 33.3%;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  border: 2px solid #2a2a2a;
}

.thTable td:first-child {
  text-align: left;
  padding-left: 11%;
}

.thTable tr:nth-child(2n) {
  background-color: #d3d3d3;
}